.wrap {
    width: 100%;
    margin-top: 30px;
}
.des {
    display: flex;
    margin-top: 30px;
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}
.des img {
    box-shadow: -3px 3px 6px rgb(68, 68, 68);
    object-fit: cover;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
    flex: 0 0 30%;
    height: 400px;
    width: 40%;
    border-radius: 8px;
}
.des .content-des p {
    font-family: 'Avo';
    color:black;
    margin-left: 70px;
}
.des .content-des #title {
    margin-top: 70px;
    font-weight: bold;
    font-size: 40px;
}
.des .content-des #content {
    margin-top: 30px;
    text-align-last: left;
    font-size: 20px;
    line-height: 30px;
}
.des2 {
    display: flex;
    margin-top: 30px;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    flex-direction: row-reverse;
}
.des2 img {
    box-shadow: -3px 3px 6px rgb(68, 68, 68);
    object-fit: cover;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
    flex: 0 0 30%;
    height: 400px;
    width: 40%;
    border-radius: 8px;
}
.des2 .content-des p {
    font-family: 'Avo';
    color: black;
    margin-left: 20px;
    margin-right: 70px;
}
.des2 .content-des #title {
    margin-top: 70px;
    font-weight: bold;
    font-size: 40px;
}
.des2 .content-des #content {
    margin-top: 30px;
    text-align-last: left;
    font-size: 20px;
    line-height: 30px;
}

.wrap-intro {
    margin-top: 30px;
    background:whitesmoke;
    background-size: cover;
}
.wrap-per {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 30px;
}
.wrap-radius {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.wrap-radius span {
    font-weight: bolder;
    font-family: 'Avo';
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    transition-property: color;
    transition-delay: 0.2s;
}
.wrap-radius span:hover {
    color:white;
}
/* .hover:hover {
    background: black;
} */
.wrap-radius .radius1 {
    display: flex;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: none;
    border: 1px solid white;
    transition-property: background;
    transition-duration: 0.2s;
}
.wrap-radius .radius1:hover {
    background: black;
    opacity: 0.5;
    border: none;
}
.wrap-radius .radius2 {
    display: flex;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fab702;
    transition-property: background;
    transition-duration: 0.2s;
}
.wrap-radius .radius2:hover {
    background: black;
    opacity: 0.5;
}
.wrap-radius .radius3 {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fab702;
    transition-property: background;
    transition-duration: 0.2s;
}
.wrap-radius .radius3:hover {
    background: black;
    opacity: 0.5;
}
.wrap-intro .bar4 {
    border: 1px solid black;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.wrap-content {
    color: black;
    line-height: 50px;
    font-family: 'Avo';
    width: 90%;
    max-width: 1000px;
    margin: 0 250px;
}
.wrap-content ul {
    text-align-last: left;
}
.wrap-content ul li {
    list-style: none;
}