.scrollto {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 37px;
    text-align: center;
    background: rgba(0,0,0,.2);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    border: 5px double rgb(161, 154, 154);
}
.scrollto i {
    font-size: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrollto:hover {
    border: 5px solid rgb(231, 171, 60);
}   

/* menu */
.fix {
    left: 0;
    max-width: 100%;
    overflow: visible;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 85px;
  }
  .fix1 {
      margin-top: 15px
  }